
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.fond{
    height: 100%;
    width: 100%;

}

@media (orientation: portrait){
    .fond{
        background-image: url(../img/coworking-portrait.jpg);
        background-size: cover;
    }
}

@media (orientation: landscape){
    .fond{
        background-image: url(../img/coworking-paysage.jpg);
        background-size: cover;

    }
}

@media (min-width:1024px){
    .fond{
        height: 50%;
    }
}

